<!DOCTYPE html>
<html>
<head>
    <title>Dinner Table of namess</title>
    {{#each css}}
        {{!--will need to add css--}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    <script src="bundle.js" charset="utf-8"></script>
</head>
<body>
    {{{body}}}
    {{#each js}}
        {{!--will need to add js file with correct name--}}
        <script src="/js/{{this}}"></script>
    {{/each}}
</body>
</html>