{{!-- <h1>Africa</h1> --}}

<div class="hero-section">
  <div class="hero-section-text">
    <h1>Dinner Table Of Continents</h1>
    {{!-- <h5>subtitle about anything you like</h5> --}}
  </div>
</div>

