<div class="hero-section">
  <div class="hero-section-text">
    <h1>Dinner Table Of Continents</h1>
    {{!-- <h5>subtitle about anything you like</h5> --}}
  </div>
</div>

<div style="background-image: url('/public/assets/photos/headerpic.jpeg');">


  <div class="featured-image-block-grid">
    <div class="featured-image-block-grid-header small-10 medium-8 large-7 columns text-center">
      <h2></h2>


    </div>
    <div class="row large-up-3 small-up-2">
      <div class="featured-image-block column">
        <a href="/africa">
          <img src="./assets/photos/africanfood.jpg" />
          <p class="text-center featured-image-block-title">Africa</p>
        </a>
      </div>

      <div class="featured-image-block column">
        <a href="/asia">
          <img src="./assets/photos/asianfood.jpg" />
          <p class="text-center featured-image-block-title">Asia</p>
        </a>
      </div>

      <div class="featured-image-block column">
        <a href="/australia">
          <img src="./assets/photos/australianfood.jpg" />
          <p class="text-center featured-image-block-title">Australia</p>
        </a>
      </div>

      <div class="featured-image-block column">
        <a href="/europe">
          <img src="./assets/photos/europeanfood.jpeg" />
          <p class="text-center featured-image-block-title">Europe</p>
        </a>
      </div>

      <div class="featured-image-block column">
        <a href="/northamerica">
          <img src="./assets/photos/northamericanfood.jpg" />
          <p class="text-center featured-image-block-title">North America</p>
        </a>
      </div>

      <div class="featured-image-block column">
        <a href="/southamerica">
          <img src="./assets/photos/southamericanfood.jpg" />
          <p class="text-center featured-image-block-title">South America</p>
        </a>
      </div>
    </div>

    <section class="newsletter-subscribe">
      <div class="newsletter-subscribe-inner">
        <p class="subheader">Enter your email adress to subscribe to our newslettter for the latest recipes! </p>

        <form id="form" action="Submit">
          <div class="input-group">
            <input class="input-group-field" type="email" id="emailInput">
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit" id="submitBtn">
            </div>
          </div>
        </form>
    </section>
  </div>