
<div class="hero-section">
  <div class="hero-section-text">
    <h1>Dinner Table Of Continents</h1>
    {{!-- <h5>subtitle about anything you like</h5> --}}
  </div>
</div>

<div class="portfolio-resume-scrolling-container row">
  <div class="columns small-12 medium-5 portfolio-resume-overview">
    <div class="portfolio-resume-overview-content">
      <h3 class="portfolio-resume-name">North America</h3>

    </div>
  </div>
  <div class="columns small-13 medium-6 portfolio-resume-scrolling">
    <h3>Facts</h3>
    <ul class="portfolio-resume-side-list">
      <li>Here is where the data goes</li>

    </ul>
    <h3>Top 3 Dishes</h3>
    <p>Look at all this amazing stuff that I've done!</p>
    <ul>
      <li>data</li>
      <li>data</li>
      <li>data</li>
      <li>data</li>
      <li>data</li>
    </ul>

    </ul>
  </div>
</div>